.box{
    border: 2px solid purple;
    margin: 10px;
    padding: 0 20px 10px 20px;
    border-radius: 12px;
    text-align: left;
}
.name{
    border: 2px solid purple;
    padding: 14px;
    border-radius: 12px;
}
.margin-right{
    margin-right: 8px;
}
.visited{
    background-color: cadetblue;
}
.margin-down{
    margin-bottom: 2px;
}